@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h4 class="text-center">Добро пожаловать на сайт компании ООО «НОВФИЛПАК»!</h4>
	<p class="text-justify">Наша компания хотя и является молодой компанией, но при этом объединяет специалистов с большим стажем по эксплуатации и обслуживанию разнообразного оборудования, произведенного в Китае. Наши специалисты имеют опыт реализации производственных объектов согласно стандартов <b>ISO</b> и <b>GMP</b>. Следует отметить, что наша компания в Китае имеет своего представителя свободно владеющего Китайским языком. Благодаря этим факторам мы осуществляем оперативный подбор и поставку материалов и технологий, а также необходимого оборудования и его дальнейшее гарантийное обслуживание.</p>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<h3 class="text-center">Наша компания специализируется на оказании услуг по следующим направлениям:</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<img src="~/Images/manufacturing.png"/>
			</div>

			<div class="panel-body">
				<p>
					Производство пластиковой упаковки для монодоз объемом 0.5 мл-100 мл., а также наполнение их жидкими, пастообразными и сыпучими продуктами с последующим запечатыванием форм полимерной пленкой или фольгой.
				</p>
			</div>

			<div class="panel-footer">
				<h4>Производство</h4>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<img src="~/Images/packaging.png"/>
			</div>

			<div class="panel-body">
				<p>
					Фасовка и упаковка продукции ЗАКАЗЧИКА в одноразовые пластиковые контейнеры и ампулы которая осуществляется на технологическом оборудовании установленном на производственных мощностях нашей компании .
				</p>
			</div>

			<div class="panel-footer">
				<h4>Фасовка и упаковка</h4>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<img src="~/Images/maintanance.png"/>
			</div>

			<div class="panel-body">
				<p>
					Продажа, монтаж и сервисное обслуживание автоматического термоформовочного упаковочного оборудования; линий фасовки и упаковки продукции в полимерную тару с последующей этикеровкой, а также различных дозаторов.
				</p>
			</div>

			<div class="panel-footer">
				<h4>Обслуживание</h4>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron">
	<p class="text-justify">Упаковка одноразовых контролируемых доз (монодоз) в пластиковые  контейнеры или ампулы,  получаемых по технологии термоформовки многослойных баръерных пленок-универсальный способ хранения продукта и ежедневного его применения. Подобная упаковка гарантирует свежесть продукта и простоту применения. Позволяет комфортно путешествовать , работать и учиться без использования громоздких и тяжелых флаконов и бутылок.</p>
</div>