@model List<EquipmentStore.Web.Models.LabourViewModel>

@{
    ViewBag.Title = "Услуги";
}



<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">Наши услуги</h4>
    </div>

    <div class="panel-body text-justify">
        <p>
            Упаковка порционных доз (монодоз) в одноразовые блистерные  контейнеры или ампулы,  получаемых по технологии термоформовки многослойных баръерных пленок-универсальный способ хранения продуктов. Подобная упаковка гарантирует свежесть продукта и простоту ежедневного применения. Позволяет комфортно путешествовать , работать и учиться без использования громоздких и тяжелых флаконов и бутылок.
        </p>

        <p>
            Оказание  услуг по фасовке и упаковке монодоз продуктов КЛИЕНТОВ осуществляется на автоматических термоформовочных машинах, работающих по принципу FORM-FILL-SEAL (формовка-дозирование продукта-запайка). Изготовление пластиковых контейнеров и ампул полезным объемом до 100 мл проводится из  полимерных пленок ПЭТ, ПЭТ/ПЭ, ПЭТ/ЭВОХ/ПЭ или ПВХ/ПЭ, ПВХ/ЭВОХ/ПЭ. Машины оборудованы современными перистальтическими, поршневыми и шнековыми дозаторами, что позволяет дозировать разнообразные продукты, а именно:
        </p>

        <ul>
            <li>Косметические: крем, гель, жидкое мыло, бальзам, суспензии и др.</li>
            <li>Бытовой химии: автоароматизаторы , средства защиты растений, моющие средства.</li>
            <li>Пищевые: мед, джем, майонез, кетчуп, соусы, сиропы.</li>
        </ul>

        <p>
            Каждый производитель гордится своим продуктом , поэтому естественно стремление к эксклюзивной  упаковке.  Мы поможем  Вам разработать и изготовить форму контейнера или ампулы по индивидуальному заказу и осуществить фасовку в них Вашего продукта.  Для тех кому требуется оперативность  в продвижении  нового продукта на рынок и устраивает типовая форма, то в наличии есть определенное количество сменных пресс-форм, которые мы можем Вам предоставить.
        </p>
    </div>
</div>

<div class="row">
    @foreach (var labour in Model)
    {
        string imageSource = null;

        if (labour.ImageData != null)
        {
            var base64 = Convert.ToBase64String(labour.ImageData.Data);
            imageSource = $"data:{labour.ImageData.MimeType};base64,{base64}";
        }

        <div class="col-lg-6 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>@labour.Name</h5>
                </div>

                <div class="panel-body">
                    <img src="@imageSource" class="img-responsive" alt="@labour.Name" />
                </div>

                <div class="panel-footer">
                    <p>@labour.Description</p>
                </div>
            </div>
        </div>
    }
</div>