@model EquipmentStore.Web.Models.LabourViewModel

@{
	ViewBag.Title = Model.Name;

	string imageSource = null;

	if (Model.ImageData != null)
	{
		var base64 = Convert.ToBase64String(Model.ImageData.Data);
		imageSource = $"data:{Model.ImageData.MimeType};base64,{base64}";
	}
}

<h2>@Model.Name</h2>

@if (Model.ImageData != null)
{
	<p>
		<img src="@imageSource" class="img-responsive" alt="@Model.Name" />
	</p>
}

<h3>Описание</h3>

<p>@Model.LongDescription</p>