@model List<EquipmentStore.Web.Models.LabourViewModel>

@{
	ViewBag.Title = "Услуги";
}



<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="text-center">Наши услуги</h2>
	</div>

	<div class="panel-body text-justify">
		<p>
			Оказание услуг по фасовке и упаковке монодоз продукта осуществляется на автоматических термоформовочных машинах, работающих по принципу FORM-FILL-SEAL (формовка-дозирование продукта-запайка). Изготовление пластиковых контейнеров и ампул объемом до 100 мл проводится из экологически чистых полимерных пленок ПЭТ/ПЭ, ПЭТ/ЭВОХ/ПЭ или ПВХ/ПЭ, ПВХ/ЭВОХ/ПЭ. Машины оборудованы современными перистальтическими, поршневыми и шнековыми дозаторами, что позволяет дозировать жидкие продукты, крема и порошки.
		</p>
		<p>
			Каждый производитель гордится своим продуктом, поэтому естественно стремление к эксклюзивной упаковке. Мы поможем Вам разработать и изготовить форму контейнера или ампулы по индивидуальному заказу и осуществим фасовку в них Вашего продукта. Для тех кому требуется оперативность в продвижении нового продукта на рынок и устраивает типовая форма, то в наличии есть определенное количество сменных пресс-форм, которые мы можем Вам предоставить.
		</p>
	</div>
</div>

<div class="row">
	@foreach (var labour in Model)
	{
		string imageSource = null;

		if (labour.ImageData != null)
		{
			var base64 = Convert.ToBase64String(labour.ImageData.Data);
			imageSource = $"data:{labour.ImageData.MimeType};base64,{base64}";
		}

		<div class="col-lg-6 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>@labour.Name</h3>
				</div>
				
				<div class="panel-body">
					<img src="@imageSource" class="img-responsive" alt="@labour.Name" />
				</div>
				
				<div class="panel-footer">
					<p>@labour.Description</p>
				</div>
			</div>
		</div>
	}
</div>